extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-3.col-md-offset-4
				
				div(style="font-size:15pt;") Twitter Test
				
				a(href='/login/twitter', class='btn btn-block btn-social btn-twitter') Login with Twitter
					i(class='fa fa-twitter')
